---
import "@/styles/globals.css";
import { Font } from "astro:assets";
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";
import "@fontsource/noto-sans-jp/400.css";
import "@fontsource/noto-sans-jp/700.css";
import AnimationProvider from "@/components/AnimationProvider";
import AppBar from "@/components/AppBar";
import Background3D from "@/components/Background3D";
import Crosshair from "@/components/Crosshair";
import Footer from "@/components/Footer";
import Provider from "@/components/Provider";

interface Props {
	title?: string;
	description?: string;
}

const { title = "Clover_Midori", description = "いろいろやってます" } =
	Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-pp-neue-montreal" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:image" content="/icon_512.png" />
  </head>
  <body>
    <Provider client:load>
      <Crosshair client:load />
      <Background3D client:load />
      <AppBar client:load />
      <AnimationProvider client:load>
        <slot />
        <Footer client:load />
      </AnimationProvider>
    </Provider>
  </body>
</html>
